body {
    background-color: #076739;
    font-family: sans-serif;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 1.5em;
}