

.card {
    position: absolute;
    text-align: center;
    perspective: 150rem;
    width: 7em; /* width and height must be equal */
    height: 7em; /* width and height must be equal */
    background: none;
    box-shadow: none;
    cursor: grab;
}

.card img{
    width: 100%;
    height: auto;
    display: block;
}


.card-side {
    transition: all 0.4s ease;
    backface-visibility: hidden;
    position: absolute;
    /*display: inline-block;*/  /* snug fit */

    object-fit: cover;
}

.card-side.back {
    transform: rotateY(-180deg);
}

.card-side.front {
}

.card:hover .card-side.front {
    transform: rotateY(180deg);
}

.card:hover .card-side.back {
    transform: rotateY(0deg);
}