body {
    background-color: #eee;
    font-family: sans-serif;
}

.card {
    position: relative;
    perspective: 150rem;
    width: 5em;
    height: 5em;
    background: none;
    box-shadow: none;
}

.card img{
    width: 100%;
    height: auto;
}


.card-side {
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
}

.card-side.back {
    transform: rotateY(-180deg);
}

.card-side.front {
}

.card:hover .card-side.front {
    transform: rotateY(180deg);
}

.card:hover .card-side.back {
    transform: rotateY(0deg);
}