<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../src/styles/card.css">
    <link rel="stylesheet" href="../src/styles/drag.css"/>
</head>
<body>
<!-- Draggable DIV -->
<!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
<div id="mydiv" class="card">
    <div class="card-side front" data-suit="hearts" data-rank="ace">
        <img alt="ace of hearts" src="../src/themes/solitaire/hearts/ace_of_hearts.svg">
    </div>
    <div class="card-side back" data-suit="hidden" data-rank="hidden">
        <img alt="hidden"
             src="../src/themes/solitaire/backside.svg">
    </div>
</div>
<script>
    dragElement(document.getElementById("mydiv"));

    function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        elmnt.onmousedown = dragMouseDown;

        function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            // get the mouse cursor position at startup:
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            // call a function whenever the cursor moves:
            document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();
            // calculate the new cursor position:
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            // set the element's new position:
            elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
            elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        }

        function closeDragElement() {
            // stop moving when mouse button is released:
            document.onmouseup = null;
            document.onmousemove = null;
        }
    }
</script>
</body>
</html>