<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="../src/styles/card.css" />
    <script type="module" src="../src/test/drop_test.mjs"></script>
    <style>
        .droptarget {
            float: left;
            width: 100px;
            height: 35px;
            margin: 15px;
            padding: 10px;
            border: 1px solid #aaaaaa;
        }
    </style>
</head>
<body>
<div>
<div class="droptarget" id="left">
    <!-- add div element to drag -->
</div>


<div class="droptarget" id="right">
    <!-- add div element to drag -->
</div>
</div>
</body>
</html>
