<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../src/styles/board.css"/>
    <link rel="stylesheet" href="../src/styles/card.css"/>

    <title>Title</title>
</head>
<body>
<div>
    <div class="grid-container" style="grid-template-areas:
    'stock talon talon hearts clubs diamonds spades'
    'tableu tableu tableu tableu tableu tableu tableu';">
        <div class="grid-item" style="grid-area: stock"><h3>Stock</h3></div>
        <div class="grid-item" style="grid-area: talon"><h3>Talon</h3></div>
        <div class="grid-item" style="grid-area: hearts"><h3>Hearts</h3></div>
        <div class="grid-item" style="grid-area: clubs"><h3>Clubs</h3></div>
        <div class="grid-item" style="grid-area: diamonds"><h3>Diamonds</h3></div>
        <div class="grid-item" style="grid-area: spades"><h3>Spades</h3></div>
        <div class="grid-item" style="grid-area: tableu">
            <h3>tableu</h3>
            <div class="grid-container" style="grid-template-areas:
              't1 t2  t3 t4 t5 t6 t7';">
                <div class="grid-item" style="grid-area: t1"><h3>tab1</h3></div>
                <div class="grid-item" style="grid-area: t2"><h3>tab2</h3></div>
                <div class="grid-item" style="grid-area: t3"><h3>tab3</h3></div>
                <div class="grid-item" style="grid-area: t4"><h3>tab4</h3></div>
                <div class="grid-item" style="grid-area: t5"><h3>tab5</h3></div>
                <div class="grid-item" style="grid-area: t6"><h3>tab6</h3></div>
                <div class="grid-item" style="grid-area: t7"><h3>tab7</h3></div>
            </div>
        </div>


    </div>
</div>
</body>
</html>