<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../src/styles/table.css" />
    <link rel="stylesheet" href="../src/styles/card.css"/>
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td>
                <div class="card">
                <div class="card-side front" data-suit="hearts" data-rank="ace">
                    <img alt="ace of hearts" src="../src/themes/solitaire/hearts/ace_of_hearts.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden"
                         src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="diamonds" data-rank="ace">
                    <img alt="ace of diamonds"
                         src="../src/themes/solitaire/diamonds/ace_of_diamonds.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden"
                         src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="clubs" data-rank="ace">
                    <img alt="ace of clubs"
                         src="../src/themes/solitaire/clubs/ace_of_clubs.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="spades" data-rank="ace">
                    <img alt="ace of spades" src="../src/themes/solitaire/spades/ace_of_spades.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td>
        </tr>
        <tr>
            <td><div class="card">
                <div class="card-side front" data-suit="hearts" data-rank="2">
                    <img alt="2 of hearts" src="../src/themes/solitaire/hearts/2_of_hearts.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="diamonds" data-rank="2">
                    <img alt="2 of diamonds" src="../src/themes/solitaire/diamonds/2_of_diamonds.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="clubs" data-rank="2">
                    <img alt="2 of clubs" src="../src/themes/solitaire/clubs/2_of_clubs.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="spades" data-rank="2">
                    <img alt="2 of spades" src="../src/themes/solitaire/spades/2_of_spades.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td>
        </tr>
        <tr>
            <td><div class="card">
                <div class="card-side front" data-suit="hearts" data-rank="3">
                    <img alt="3 of hearts" src="../src/themes/solitaire/hearts/3_of_hearts.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="diamonds" data-rank="3">
                    <img alt="3 of diamonds" src="../src/themes/solitaire/diamonds/3_of_diamonds.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="clubs" data-rank="3">
                    <img alt="3 of clubs" src="../src/themes/solitaire/clubs/3_of_clubs.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="spades" data-rank="3">
                    <img alt="3 of spades" src="../src/themes/solitaire/spades/3_of_spades.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td>
        </tr>
        <tr>
            <td><div class="card">
                <div class="card-side front" data-suit="hearts" data-rank="4">
                    <img alt="4 of hearts" src="../src/themes/solitaire/hearts/4_of_hearts.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="diamonds" data-rank="4">
                    <img alt="4 of diamonds" src="../src/themes/solitaire/diamonds/4_of_diamonds.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="clubs" data-rank="4">
                    <img alt="4 of clubs" src="../src/themes/solitaire/clubs/4_of_clubs.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="spades" data-rank="4">
                    <img alt="4 of spades" src="../src/themes/solitaire/spades/4_of_spades.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td>
        </tr>
        <tr>
            <td><div class="card">
                <div class="card-side front" data-suit="hearts" data-rank="5">
                    <img alt="5 of hearts" src="../src/themes/solitaire/hearts/5_of_hearts.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="diamonds" data-rank="5">
                    <img alt="5 of diamonds" src="../src/themes/solitaire/diamonds/5_of_diamonds.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="clubs" data-rank="5">
                    <img alt="5 of clubs" src="../src/themes/solitaire/clubs/5_of_clubs.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="spades" data-rank="5">
                    <img alt="5 of spades" src="../src/themes/solitaire/spades/5_of_spades.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td>
        </tr>
        <tr>
            <td><div class="card">
                <div class="card-side front" data-suit="hearts" data-rank="6">
                    <img alt="6 of hearts" src="../src/themes/solitaire/hearts/6_of_hearts.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="diamonds" data-rank="6">
                    <img alt="6 of diamonds" src="../src/themes/solitaire/diamonds/6_of_diamonds.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="clubs" data-rank="6">
                    <img alt="6 of clubs" src="../src/themes/solitaire/clubs/6_of_clubs.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="spades" data-rank="6">
                    <img alt="6 of spades" src="../src/themes/solitaire/spades/6_of_spades.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td>
        </tr>
        <tr>
            <td><div class="card">
                <div class="card-side front" data-suit="hearts" data-rank="7">
                    <img alt="7 of hearts" src="../src/themes/solitaire/hearts/7_of_hearts.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="diamonds" data-rank="7">
                    <img alt="7 of diamonds" src="../src/themes/solitaire/diamonds/7_of_diamonds.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="clubs" data-rank="7">
                    <img alt="7 of clubs" src="../src/themes/solitaire/clubs/7_of_clubs.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="spades" data-rank="7">
                    <img alt="7 of spades" src="../src/themes/solitaire/spades/7_of_spades.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td>
        </tr>
        <tr>
            <td><div class="card">
                <div class="card-side front" data-suit="hearts" data-rank="8">
                    <img alt="8 of hearts" src="../src/themes/solitaire/hearts/8_of_hearts.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="diamonds" data-rank="8">
                    <img alt="8 of diamonds" src="../src/themes/solitaire/diamonds/8_of_diamonds.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="clubs" data-rank="8">
                    <img alt="8 of clubs" src="../src/themes/solitaire/clubs/8_of_clubs.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="spades" data-rank="8">
                    <img alt="8 of spades" src="../src/themes/solitaire/spades/8_of_spades.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td>
        </tr>
        <tr>
            <td><div class="card">
                <div class="card-side front" data-suit="hearts" data-rank="9">
                    <img alt="9 of hearts" src="../src/themes/solitaire/hearts/9_of_hearts.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="diamonds" data-rank="9">
                    <img alt="9 of diamonds" src="../src/themes/solitaire/diamonds/9_of_diamonds.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="clubs" data-rank="9">
                    <img alt="9 of clubs" src="../src/themes/solitaire/clubs/9_of_clubs.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="spades" data-rank="9">
                    <img alt="9 of spades" src="../src/themes/solitaire/spades/9_of_spades.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td>
        </tr>
        <tr>
            <td><div class="card">
                <div class="card-side front" data-suit="hearts" data-rank="10">
                    <img alt="10 of hearts" src="../src/themes/solitaire/hearts/10_of_hearts.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="diamonds" data-rank="10">
                    <img alt="10 of diamonds" src="../src/themes/solitaire/diamonds/10_of_diamonds.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="clubs" data-rank="10">
                    <img alt="10 of clubs" src="../src/themes/solitaire/clubs/10_of_clubs.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="spades" data-rank="10">
                    <img alt="10 of spades" src="../src/themes/solitaire/spades/10_of_spades.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td>
        </tr>
        <tr>
            <td><div class="card">
                <div class="card-side front" data-suit="hearts" data-rank="jack">
                    <img alt="jack of hearts" src="../src/themes/solitaire/hearts/jack_of_hearts.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="diamonds" data-rank="jack">
                    <img alt="jack of diamonds" src="../src/themes/solitaire/diamonds/jack_of_diamonds.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="clubs" data-rank="jack">
                    <img alt="jack of clubs" src="../src/themes/solitaire/clubs/jack_of_clubs.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="spades" data-rank="jack">
                    <img alt="jack of spades" src="../src/themes/solitaire/spades/jack_of_spades.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td>
        </tr>
        <tr>
            <td><div class="card">
                <div class="card-side front" data-suit="hearts" data-rank="queen">
                    <img alt="queen of hearts" src="../src/themes/solitaire/hearts/queen_of_hearts.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="diamonds" data-rank="queen">
                    <img alt="queen of diamonds" src="../src/themes/solitaire/diamonds/queen_of_diamonds.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="clubs" data-rank="queen">
                    <img alt="queen of clubs" src="../src/themes/solitaire/clubs/queen_of_clubs.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="spades" data-rank="queen">
                    <img alt="queen of spades" src="../src/themes/solitaire/spades/queen_of_spades.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td>
        </tr>
        <tr>
            <td><div class="card">
                <div class="card-side front" data-suit="hearts" data-rank="king">
                    <img alt="king of hearts" src="../src/themes/solitaire/hearts/king_of_hearts.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="diamonds" data-rank="king">
                    <img alt="king of diamonds" src="../src/themes/solitaire/diamonds/king_of_diamonds.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="clubs" data-rank="king">
                    <img alt="king of clubs" src="../src/themes/solitaire/clubs/king_of_clubs.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td><td>
            <div class="card">
                <div class="card-side front" data-suit="spades" data-rank="king">
                    <img alt="king of spades" src="../src/themes/solitaire/spades/king_of_spades.svg">
                </div>
                <div class="card-side back" data-suit="hidden" data-rank="hidden">
                    <img alt="hidden" src="../src/themes/solitaire/backside.svg">
                </div>
            </div></td>
        </tr>
    </table>
</div>
</body>
</html>